div{
    float: left;
    margin: 10px;
}

.topics, .search{
    display: block;
    clear: both;
}

button {
    margin: 5px;
    background-color: rgb(71, 71, 71);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 12px;
}

button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:focus{
    background-color:red;
}

#gifresults{
    text-align: center;
}

img{
    border-radius: 20px;
}

.gifDiv{
    padding: 10px;
    border: solid;
    border-color: darkgray;
    border-width: 2px;
    border-radius: 20px;
}

p{
    margin: 0px;
}